#navbar-toolbar {
  .tab-active {
    font-weight: bold;
    color: rgb(255, 255, 255);
  }
  background-color: #579add;
}

.nav-tab {
  font-size: 20px;

  text-decoration: none;
  color: inherit;
  margin-right: 30px;
}

.nav-tab:hover {
  color: rgb(0, 56, 121);
}

.navbar-proper {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it stays above other content */
  width: 100% !important;
}
